* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sigmar&display=swap');
:root {
    --cor-background: #f7e9fc;;

    --cor-texto-primario: #FD3E81;
    --cor-texto-secundario: #6F6F6F;
    --cor-texto-3: #585858;
    --cor-branco-primario: #FFFF;

    --cor-botão--primario: #FFC4D9;
    --cor-botão--secundario: #eeacc3;
    --cor-gradiente--primario: linear-gradient(90deg, rgba(255,196,217,1) 0%, rgba(253,62,129,1) 45%);

    --fontSize-h1: 3.2rem;
    --fontSize-h2: 2.75rem;;
    --fontSize-h3: 1.2rem;
    --fontSize-h4: 1.4rem;

    --borderRadius-size: .625rem; 
}

body {
    background-color: var(--cor-background) ;
}

.header {
    display: none;
}

#section1 h3, h1{
    color: var(--cor-texto-primario);
}

#section1 h3{
    text-align: center;
    font-size: var(--fontSize-h3) ;
    font-weight: lighter;

    width: 20rem;
}

#section1 h1 {
    margin-top: 0.625rem;
    white-space: nowrap;
    font-size: var(--fontSize-h1);
}

#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; 
}

#section1 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section1 .donationButton {
    background-color: var(--cor-texto-primario);
    color: var(--cor-branco-primario);
    font-size: 1.25rem;
    font-weight: bold;

    width: 12.5rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    
    justify-content: center;
}

#section1 .donationButton:hover {
    cursor: pointer;
    opacity: 0.9;
    background: #fcf1f5;
    transition: .2s;
}

#section1 .compassImage{
    margin-top: 1.875rem;
    width: 20.625rem;
    height: 23.188rem;
}

.campaigntext {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
}

.campaigntext h4{
    font-size: var(--fontSize-h4);
    color: var(--cor-texto-secundario);
    font-weight: 500;
}

.campaigntext span {
    color: var(--cor-texto-primario);
}

.infoButtonsSelectors {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.50rem;
}

.dropbtn {
    background-color: var(--cor-botão--primario);
    color: white;
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 800;

    border-radius: var(--borderRadius-size);
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    background-color: var(--cor-branco-primario);
    max-height: 350px;
    min-width: 180px;

    padding: .5rem;
    text-align: center;
    border-radius: var(--borderRadius-size);

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content p {
    color: var(--cor-texto-secundario);
    font-weight: 600;

    text-decoration: none;
    display: block;
  }

  .dropdown.ativo .dropdown-content {
    display: block;
  }
  

.infoButtonsSelectors button:hover, .donationButtons .donationButton:hover {
    opacity: 0.9;
    background-color: var(--cor-botão--secundario);
    cursor: pointer;
    transition: .2s;
    
    animation: pulsar-anima 1s infinite;
    
}

#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2rem;
}

#section2 h2 {
    font-size: var(--fontSize-h2);
    color: var(--cor-texto-primario);
}

#section2 .heartIcon img {
    margin-top: .5rem;
}

.valuetext {
    color: var(--cor-texto-secundario);
    text-align: center;
}

/* ---------------------------------=--------------- */


/* botão de doação */

.donationButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 2.188rem;
}

.donationButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 8.875rem;
    height: 8.125rem;

    border-radius: var(--borderRadius-size);
    border: none;

    background-color: var(--cor-botão--primario);
}

.donationButton:hover {
    animation: pulsar-anima 1s infinite;
}

#section2 .donationButton p {
    font-size: 2.5rem;
    color: var(--cor-branco-primario);
    font-weight: 600;
}

/* ---------------------------------=--------------- */


/* Seção 3 */
#section3  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#section3 .textData {
    margin-top: 2rem;
    width: 20rem;
    padding: 1rem;

    align-items: center;
    text-align: center;
}

#section3 .textData h4 {
    font-size: var(--fontSize-h4);
    color: var(--cor-texto-secundario);
    font-weight: 500;
}

#section3 .textData h4 span {
    color: var(--cor-texto-primario);
}

#section3 .textData .bunnyImage {
    width: 22rem;
    align-self: center;
}

#section3 .Duvidas {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-texto-primario);
    font-size: 2rem;
    text-align: center;
}


#section3 .Duvidas button {
    border: none;
    background: none;

}

#section3 .Duvidas img {
    margin: 2rem 0 2rem 0;
    width: 6rem;
}

#section3 .Duvidas img:hover {
    opacity: .9;
    cursor: pointer;
}

#section3 .Duvidas img:active {
    opacity: .8;
    cursor: pointer;
}

#section3 .whastappIcon img{
    width: 4rem;
}

/* ---------------------------------=--------------- */

/* ---  Bússola  --- */

.corpoBussola {
    width: 20.625rem;
    min-height: 23.25rem;

    background: url("assets/icons/corpoBussola.svg");
    background-repeat: no-repeat;
    margin-top: 3rem;
}

.centroBussola {
    position: relative;
    left: 105px;
    top: 110px;
    animation:rotacao-anima 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate-reverse both;
}

/* ---------------------------------=--------------- */

/* contato*/

.contactustitle {
    font-size: 1.6rem;
}
.contactustext {
    font-size: 1rem;
    color: var(--cor-texto-secundario);
}

/* ---  Whatsapp-icon --- */


.whastappIcon:hover {
    animation: pulsar-anima 1s infinite;
}

/* ---------------------------------=--------------- */

/* ---  Overlay Pix --- */

.overlay {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    
    background: var(--cor-gradiente--primario);
}

.overlayContent { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cor-branco-primario);
    z-index: 999;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlayContent .box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.overlayContent .closeButton {
    align-self: flex-end;
    background: none;
    border: none;
}

.overlayContent .closeButton:hover {
    opacity: .8;
    cursor: pointer;
}

.overlayContent .copiarButton, .overlayContent .box button  {
    border: none;
    border-radius: var(--borderRadius-size);
    padding: 1rem;
    background: var(--cor-branco-primario);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-width: 20.5rem;
    height: 3.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1.875rem;
    gap: .5rem;

    color: var(--cor-texto-primario);
}

.overlayContent .box .copytextmessage {
    margin-top: 0.625rem;
    font-size: .875rem;
    color: var(--cor-texto-secundario);
}

.overlayContent .box .prooftext {
    width: 22rem;
    color: var(--cor-texto-secundario);
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.overlayContent .box .prooftext span {
    
    color: var(--cor-texto-3);
    font-weight: 600;
}

.overlayContent .copiarButton {
    font-size: 1.9rem;
    font-weight: 600;
}

.overlayContent .box button {
    font-size: 1.3rem;
    font-weight: 500;
}

.overlayContent .box button img {
    width: 2.8rem;
    
}

.overlayContent .copiarButton:hover {
    opacity: .8;
    cursor: pointer;
}
.overlayContent .box .value {
    color: var(--cor-texto-primario);
}

.overlayContent .box .qrCodebox {
    margin-top: .625rem;
    align-self: center;
    padding: 1rem;
    border-radius: var(--borderRadius-size);
    box-shadow: 0px 0px 5px 0px rgba(145,145,145,1);
}

.hidden {
    display: none;
}

/* Animações Usadas */

@keyframes rotacao-anima{
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes pulsar-anima {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}

/* ---- ---- ---- */


/* Para telas menos que 430px, ou seja, telas pequenas como smartphones com tela menor */
@media (max-width: 429px) {
    :root {
        --fontSize-h1: 2.7rem;
        --fontSize-h2: 2.2rem;;
        --fontSize-h3: .8rem;
        --fontSize-h4: 1.3rem;
    }

}

/* Para telas menores que 767px, ou seja, tables e dispositivos móveis maiores */
@media (max-width: 767px) {

}

/* Para telas menores que 1280px, ou seja, desktop e laptops grandes */
@media (min-width: 1023px) {

    :root {
        --fontSize-h1: 5.5rem;
    }

    .header {
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .header .sections ul {
        display: flex;
        gap: 3.75rem;
    }

    .header .sections ul li a {
        color: #6F6F6F;
        font-size: 1rem;
    }

    .header .sections ul li a:hover {
        color: var(--cor-botão--primario);
    }

    #section1 .content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
    }

    #section1 .content1 .content2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section1 .donationButton {
        margin-top: 2rem;
        font-size: 1.4rem;
        background-color: var(--cor-texto-primario);
        color: var(--cor-branco-primario);
    }

    #section1 .donationButton:hover {
        background-color: var(--cor-texto-primario);
        opacity: .9;
    }

    .campaigntext {
        width: 50rem;
    }

    #section3 .textData {
        width: 50rem;
    }
}