* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sigmar&display=swap');
:root {
    --cor-background: #F7FFF8;
    --cor-background2: #eefdf0;
    --cor-background3: #eefdf8;
    --cor-background4: #e6fcfc;;
    --cor-background5: #f8e7fd;;

    --cor-texto-primario: #FD3E81;
    --cor-texto-secundario: #6F6F6F;
    --cor-branco-primario: #FFFF;

    --cor-botão--primario: #FFC4D9;
    --cor-botão--secundario: #eeacc3;
    --cor-gradiente--primario: linear-gradient(90deg, rgba(255,196,217,1) 0%, rgba(253,62,129,1) 45%);

    --fontSize-h1: 3rem;
    --fontSize-h2: 2.75rem;;
    --fontSize-h3: 1.5rem;
    --fontSize-h4: 1.4rem;
}

body {
    animation: color-change-5x 8s linear infinite alternate both;
}

.header {
    display: none;
}

#section1 h3, h1{
    color: var(--cor-texto-primario);
}

#section1 h3{
    text-align: center;
    font-size: var(--fontSize-h3) ;
    font-weight: lighter;

    width: 20rem;
}

#section1 h1 {
    margin-top: 0.625rem;
    white-space: nowrap;
    font-size: var(--fontSize-h1);
}

#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; 
}

#section1 .donationButton {
    border: 2px solid var(--cor-texto-primario);
    border-radius: .563rem;
    color: var(--cor-texto-primario);
    background-color: var(--cor-branco-primario);

    font-size: 1.25rem;
    font-weight: bold;

    width: 12.5rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    
    justify-content: center;
}

#section1 .donationButton:hover {
    cursor: pointer;
    opacity: 0.9;
    background: #fcf1f5;
    transition: .2s;
}

#section1 .compassImage{
    margin-top: 1.875rem;
    width: 20.625rem;
    height: 23.188rem;
}

.campaigntext {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 24.2rem;
}

.campaigntext h4{
    font-size: var(--fontSize-h4);
    color: var(--cor-texto-secundario);
    font-weight: 500;
}

.campaigntext span {
    color: var(--cor-texto-primario);
}

.infoButtonsSelectors {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.50rem;
}

.dropbtn {
    background-color: var(--cor-botão--primario);
    color: white;
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 800;

    border-radius: .625rem;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    background-color: var(--cor-background);
    max-height: 350px;
    min-width: 180px;

    padding: .5rem;
    text-align: center;
    border-radius: .5rem;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content p {
    color: var(--cor-texto-secundario);
    font-weight: 600;

    text-decoration: none;
    display: block;
  }

  .dropdown.ativo .dropdown-content {
    display: block;
  }
  

.infoButtonsSelectors button:hover, .donationButtons .donationButton:hover {
    opacity: 0.9;
    background-color: var(--cor-botão--secundario);
    cursor: pointer;
    transition: .2s;
    
    animation: pulsar-anima 1s infinite;
    
}

#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2rem;
}

#section2 h2 {
    font-size: var(--fontSize-h2);
    color: var(--cor-texto-primario);
}

#section2 .heartIcon img {
    margin-top: .5rem;
}

#section2 p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--cor-texto-secundario);
}

.donationButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 2.188rem;
}

.donationButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    width: 8.875rem;
    height: 8.125rem;

    border-radius: .625rem;
    border: none;

    background-color: var(--cor-botão--primario);
}

.donationButton:hover {
    animation: pulsar-anima 1s infinite;
}

#section2 .donationButton p {
    font-size: 2.5rem;
    color: var(--cor-branco-primario);
    font-weight: 600;
}

#section3  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section3 .textData {
    margin-top: 2rem;
    width: 25rem;
    padding: 1rem;

    align-items: center;
    text-align: center;
}

#section3 .textData h4 {
    font-size: var(--fontSize-h4);
    color: var(--cor-texto-secundario);
    font-weight: 500;
}

#section3 .textData .bunnyImage {
    width: 22rem;
}

#section3 .Duvidas {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-texto-primario);
    font-size: 2rem;
    text-align: center;
}


#section3 .Duvidas button {
    border: none;
    background: none;

}

#section3 .Duvidas img {
    margin: 2rem 0 2rem 0;
    width: 6rem;
}

#section3 .Duvidas img:hover {
    opacity: .9;
    cursor: pointer;
}

#section3 .Duvidas img:active {
    opacity: .8;
    cursor: pointer;
}


.corpoBussola {
    width: 20.625rem;
    min-height: 23.25rem;

    background: url("assets/icons/corpoBussola.svg");
    background-repeat: no-repeat;
    margin-top: 3rem;
}

.centroBussola {
    position: relative;
    left: 105px;
    top: 110px;
    animation:rotacao-anima 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate-reverse both;
}

.whastappIcon {
}

.whastappIcon:hover {
    animation: pulsate-fwd 1s infinite;
}

/* ---  Overlay Pix --- */

.overlay {
    display: none;

    width: 23rem;
    height: 22rem;
    
    border-radius: .625rem;
    padding: 6px;
    background: var(--cor-gradiente--primario);
    opacity: .95;

    position: fixed;
    justify-content: center;
    align-items: center;
    top: 30%;
}

.overlayContent { 
    width: 100%;
    height: 100%;
    border-radius: .625rem;
    background-color: var(--cor-background);

    display: flex;
    flex-direction: column;
}

.overlayContent .closeButton {
    align-self: flex-end;
    border: none;
    background: none;
    
    font-size: 2rem;
    font-family: "Sigmar";
    font-weight: 800;
    color: var(--cor-texto-primario);
    
    margin: .5rem;
}

.overlayContent .closeButton:hover {
    opacity: .8;
    cursor: pointer;
    
}

.overlayContent .copiarButton {
    border: none;
    background: var(--cor-branco-primario);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 17.5rem;
    height: 3.75rem;
    align-self: center;

    margin-top: 1.8rem;

    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-texto-primario);
}

.overlayContent .copiarButton:hover {
    opacity: .8;
    cursor: pointer;
}

.overlayContent .qrCode {
    align-self: center;
    width: 11rem;
}

.hidden {
    display: none;
}



/* Animações Usadas */

@keyframes rotacao-anima{
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes pulsar-anima {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes color-change-5x {
    0% {
      background: var(--cor-background);
    }
    25% {
      background: var(--cor-background2);
    }
    50% {
      background: var(--cor-background3);
    }
    75% {
      background: var(--cor-background4);
    }
    100% {
      background: var(--cor-background5);
    }
}

/* ---- ---- ---- */


/* Para telas menos que 430px, ou seja, telas pequenas como smartphones com tela menor */
@media (max-width: 429px) {
    :root {
        --fontSize-h1: 2.5rem;
        --fontSize-h2: 2.2rem;;
        --fontSize-h3: 1.3rem;
        --fontSize-h4: 1.1rem;
    }

}

/* Para telas menores que 767px, ou seja, tables e dispositivos móveis maiores */
@media (max-width: 767px) {

}

/* Para telas menores que 1024px, ou seja, tablets maiores e laptops  */
@media (max-width: 1023px) {

}

/* Para telas menores que 1280px, ou seja, desktop e laptops grandes */
@media (max-width: 1279px) {

}