* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GlacialFonteRegular", sans-serif;
  scroll-behavior: smooth
}

@font-face { font-family: 'GlacialFonteRegular'; src: url('assets/font/GlacialIndifference-Regular.otf') format('opentype'); }
@font-face { font-family: 'GlacialFonteBold'; src: url('assets/font/GlacialIndifference-Bold.otf') format('opentype'); }

:root {
    --cor-background: ##fffafa;
    --header-background: #fbf5ef;
    --footer-background: #f9ecdf;
    --cor-border: #f2dbc2;

    --cor-texto-primario: #000000;
    --cor-texto-secundario: #e7a763;
    --cor-texto-terciario:#737373 ;

    --cor-branco-primario: #FFFF;

    --cor-botão--primario: #f2dbc2;

    --fontSize-h1: 3rem;
    --fontSize-p: 1.2rem;

    --borderRadius-size: 50px; 
}

body {
    background-color: var(--cor-background) ;
}

.header {
    width: 100%;
    padding: .5rem;

    display: flex;
    justify-content: center;

    background-color: var(--header-background);
    border-bottom: 1px var(--footer-background) solid;  
}

.header p.welcome-text {
    font-size: 1rem;
    color: var(--cor-texto-secundario);
}

#section1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
} 

#section1 .content-main .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#section1 .content-main .title h1 {font-family: "GlacialFonteBold"; font-size: var(--fontSize-h1)}
#section1 .content-main .title p {font-size: 1rem; margin-left: 15rem; letter-spacing: 2px;}

#section1 .content-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

#section1 .content-message .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 26rem;
    gap: 2rem
}

#section1 .content-message .message .text {
    font-size: var(--fontSize-p);
    letter-spacing: 2px;
}


#section1 .donation-button button{
    width: 15rem;
    height: 4rem;
    
    background: none;
    border: 2px var(--cor-border) solid;
    border-radius: var(--borderRadius-size);

    font-size: 1.3rem;
}

#section1 .donation-button button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: .2s;
}

#section1 .content-message .gif .gangorra {
    width: 20rem;
}


.infoButtonsSelectors {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.50rem;
}

.dropbtn {
    background-color: var(--cor-botão--primario);
    color: white;
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 800;

    border-radius: var(--borderRadius-size);
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    background-color: var(--cor-branco-primario);
    max-height: 380px;
    min-width: 200px;

    padding: .5rem;
    text-align: center;
    border-radius: 1rem;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content p {
    color: var(--cor-texto-primario);
    font-weight: 400;
    font-size: 1.2rem;

    text-decoration: none;
    display: block;
  }

  .dropdown.ativo .dropdown-content {
    display: block;
  }

.infoButtonsSelectors button:hover, .donationButtons .donationButton:hover {
    opacity: 0.9;
    cursor: pointer;
    animation: pulsar-anima 1s infinite;
}

/* ---------------------------------=--------------- */


/* Seção de doação*/

#section-donation {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2rem;
}

#section-donation .image-text  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-donation .image-text p {
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
    width: 90%;
}

#section-donation .image-text img {
    width: 26rem;
}

.valuetext {
    color: var(--cor-texto-terciario);
    text-align: center;
}

/* botão de doação */

.donationButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem;
}

.donationButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 10rem;
    height: 5rem;

    border-radius: 10rem;
    border: none;
    background-color: var(--cor-botão--primario);

    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.donation-button:hover {
    animation: pulsar-anima 1s infinite;
}

/* ---------------------------------=--------------- */

/* ---  Overlay Pix --- */

.overlay {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    
    background: var(--cor-gradiente--primario);
}

.overlayContent { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cor-branco-primario);
    z-index: 999;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlayContent .box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.overlayContent .closeButton {
    align-self: flex-end;
    background: none;
    border: none;
    
}

.overlayContent .closeButton:hover {
    opacity: .8;
    cursor: pointer;
}

.overlayContent .copiarButton, .overlayContent .box button  {
    border: none;
    border-radius: var(--borderRadius-size);
    padding: 1rem;
    background: var(--cor-branco-primario);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-width: 20.5rem;
    height: 3.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1.875rem;
    gap: .5rem;

    color: var(--cor-texto-primario);
}

.overlayContent .box .copytextmessage {
    margin-top: 0.625rem;
    font-size: .875rem;
    color: var(--cor-texto-secundario);
}

.overlayContent .box .prooftext {
    width: 22rem;
    color: var(--cor-texto-secundario);
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.overlayContent .box .prooftext span {
    
    color: var(--cor-texto-3);
    font-weight: 600;
}

.overlayContent .copiarButton {
    font-size: 1.9rem;
    font-weight: 600;
}

.overlayContent .box button {
    font-size: 1.3rem;
    font-weight: 500;
}

.overlayContent .box button img {
    width: 2.8rem;
    
}

.overlayContent .copiarButton:hover {
    opacity: .8;
    cursor: pointer;
}
.overlayContent .box .value {
    color: var(--cor-texto-primario);
}

.overlayContent .box .qrCodebox {
    margin-top: .625rem;
    align-self: center;
    padding: 1.5rem;
    border-radius: var(--borderRadius-size);
    box-shadow: 0px 0px 5px 0px rgba(145,145,145,1);
}

.hidden {
    display: none;
}

/* ----------------------------------------------------- */

#footer {
    width: 100%;
    height: 20rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: var(--footer-background);
    gap: 2rem;
}

#footer .footer-content{
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
}

#footer .footer-content-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer h4 {
    color: var(--cor-texto-primario);
    font-weight: 400;
}
#footer a {
    color: var(--cor-texto-primario);
    font-weight: 400;
    letter-spacing: 2px;
}

#footer .footer-content .conferir-content,#footer .footer-content .duvidas-content
    {
        display: flex;
        flex-direction: column;
        gap: 1rem;  
    }

#footer .footer-content .hyperlinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer .line {
    width: 100%; height: .5px; background-color: #f2dbc2; margin: 10px 0; border: none;
}

#footer .copyright {
    margin-top: 1rem;
}



@keyframes pulsar-anima {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}

/* ---- ---- ---- */

/* Para telas menos que 430px, ou seja, telas pequenas como smartphones com tela menor */
@media (max-width: 429px) {
    :root {
        --fontSize-h1: 2.7rem;

    }

    #section1 .content-main .content-message .gif img{
        width: 25rem;
    }
}

/* Para telas menores que 767px, ou seja, tables e dispositivos móveis maiores */
@media (max-width: 767px) {
    :root {
        --fontSize-h1: 2.7rem;

    }
}

/* Para telas menores que 1280px, ou seja, desktop e laptops grandes */
@media (min-width: 1023px) {

    :root {
        --fontSize-h1: 5.5rem;
    }

    #section1 .content-message {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10rem;
    }
}