* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background-color: #fafcff;
  --primary-color: #447afb;
  --secondary-color: #284cf3;

  --logo-fontsize: 1.2rem;
  --title-fontsize: 3rem;
  --subtitle-fontisize:2.4rem;
  --text-fontsize: 1.2rem;

}

body {
  background-color: var(--background-color);
}

#Header  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  background-color: none;
  z-index: 999;

  position: fixed;
  top: 0;

  width: 100%;
  height: 3rem;
}

#Header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

#Header .logo p {
  font-size: var(--font-size-logo);
  font-family: "Chau Philomene One", serif;
}

#Header .logo p span {
  color: var(--secondary-color);
}

#Header .menu-hamburger button {
  background: none;
  border: none;
  padding: .2rem;
  width: 2.5rem;
  cursor: pointer;

}
#Header .menu-hamburger button img {
  width: 100%;
  height: 100%;
}

#Header .menu-hamburger button:hover {
  opacity: .9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 5rem;
}

#About {
  display: flex;
  flex-direction: column;
}
#Content-main .maincontent-image img {
  width: 18rem;
}

#Content-main, #About-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 1rem;
}

#Content-main h1 {
  font-family: "Open Sans", serif;
  font-size: var(--title-fontsize);
  font-weight: 800;
  width: 15rem;
  letter-spacing: 2px;
}

#Content-main p, #About-main p {
  color: #787672;
  font-size: var(--text-fontsize);
  font-weight: 500;
  padding: 0 1rem;

  margin-top: 1.5rem;
}

#Content-main p span, #About-main p span {
  color: #303030;
  font-weight: 800  ;
}

#About-main h1 {
  font-family: "Open Sans", serif;;
  font-size: var(--subtitle-fontisize);
  font-weight: 800;
  margin-top: 3rem;
}

.infoButtonsSelectors {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
}

.infoButtonsSelectors .dropbtn {
  background: none;
  width: 14rem;
  height: 3rem;
  font-size: 1.3rem;
  font-family: "Open Sans", serif;
  font-weight: 600;

  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  border-radius: 25rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: white;
  max-height: 400px;
  width: 230px;

  padding: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  border: none;
  margin-left: -.2rem;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  font-family:  "Open Sans", serif;
  color: black;
  font-weight: 400;
  font-size: 0.7rem;

  text-decoration: none;
  display: block;
}

.dropdown.ativo .dropdown-content {
  display: block;
}

#Donation {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3rem;
}

#Donation .subtitle h3 {
  font-family: "Open Sans", serif;
  font-size: var(--subtitle-fontisize);
  font-weight: 700;
}

#Donation .list-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Donation ul {
  width: 20rem;
  padding: 0 2rem;
}


#Donation ul li {
  list-style: outside;
  margin-top: 1rem;
}

#Donation ul li p{
  font-size: 1rem;
  font-family: "Open Sans", serif;
  font-weight: 500;
  color: #787672;
}

#Donation ul li p span {
  color: black;
}

#Donation .text-message-2 {

  margin-top: 1rem;
  padding: 1rem;

  text-align: center;
  font-size: 1.1rem;
  font-family: "Open Sans", serif;;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

#Donation .value-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#Donation .value-text p {
  font-family: "Open Sans", serif;;
  letter-spacing: 0.1rem;
  color: #787672;
  font-weight: 600;
}

#Donation .value-text img {
  width: 2rem;
}

/* botões de doação */

.donationButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.donationButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 7rem;
  height: 6rem;

  border-radius: 1.4rem;

  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);

  font-size: 1.2rem;
  font-family:"Open Sans", serif;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

.donationButton:hover,
.dropbtn:hover {
  opacity: .9;
}

/* ---------------------------------=--------------- */

/* ---  Overlay Pix --- */

.overlay {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.overlayContent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlayContent .box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.overlayContent .closeButton {
  align-self: flex-end;
  background: none;
  border: none;
}

.overlayContent .closeButton img {
  width: 3.5rem;
}

.overlayContent .closeButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.overlayContent .copiarButton,
.overlayContent .box button {
  border: none;
  border-radius: 5rem;
  padding: 1rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.5rem;
  gap: 0.5rem;

  color: var(--cor-texto-primario);
}

.overlayContent .box .copytextmessage {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  font-family: var(--font-glacialRegular);
  color: var(--color-variant);
}

.overlayContent .box .prooftext {
  width: 22rem;
  color: var(--cor-texto-secundario);
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-glacialRegular);
  width: 90%;
  margin-top: 2rem;
}

.overlayContent .box .prooftext span {
  color: var(--cor-texto-3);
  font-weight: 600;
}

.overlayContent .copiarButton {
  font-size: 1.9rem;
  font-weight: 600;
}

.overlayContent .box button {
  font-size: 1.3rem;
  font-weight: 500;
}

.overlayContent .box button img {
  width: 2.4rem;
}

.overlayContent .copiarButton:hover {
  opacity: 0.8;
  cursor: pointer;
}
.overlayContent .box .value {
  color: var(--cor-texto-secundario);
}

.overlayContent .box .qrCodebox {
  margin-top: 0.625rem;
  align-self: center;
  padding: 1.5rem;
  border-radius: 1rem;
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(145, 145, 145, 1);
}

.overlayContent .box .qrCodebox img {
  width: 12rem;
}

.hidden {
  display: none;
}

#Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
}

.line {
  width: 100%;
  height: 1px;
  background: white;
  margin: .5rem 0;
}

#Footer .box {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}

#Footer .box-content {
  display: flex;
  gap: 4rem;
  margin-top: 1rem;
}

#Footer .box-content ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  list-style: none;
}

#Footer .box-content ul li a {
  font-family: "Open Sans", serif; ;
  color: rgb(255, 255, 255);
}

#Footer .box-content ul li a:hover {
  color: #daeeff;
}

#Footer .copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Open Sans", serif;
  font-weight: 500;

  font-size: 0.7rem;
  color: white;

}

@media (min-width: 365px) {
  :root {
    --font-size-logo: 1rem;
    --font-size-title: 1.7rem;
    --font-size-text: 0.9rem;
    --font-size-aboutSubtitle: 1rem;
    --font-size-donationSubtitle: 1.4rem;
    --font-size-text2: 1.2rem;
  }

  #Header .box-1 .logo img {
    width: 1.7rem;
  }

  #Header .box-2 .image {
    width: 10rem;
    height: 21rem;
  }

  #About .box .image {
    width: 11rem;
    height: 13rem;
  }

  .dropbtn {
    width: 7rem;
    height: 1.6rem;
  }
}

@media (min-width: 425px) {
  :root {
    --font-size-logo: 1.1rem;
    --font-size-title: 1.9rem;
    --font-size-text: 0.9rem;
    --font-size-aboutSubtitle: 1.1rem;
    --font-size-donationSubtitle: 1.6rem;
    --font-size-text2: 1.4rem;
  }

  #Header .box-1 .logo img {
    width: 1.9rem;
  }

  #Header .box-2 .image {
    width: 12rem;
    height: 22rem;
  }

  #About .box .image {
    width: 15rem;
    height: 15rem;
  }

  .dropbtn {
    width: 8rem;
    height: 1.7rem;
  }
}

@media (min-width: 525px) {
  :root {
    --font-size-logo: 1.2rem;
    --font-size-title: 2.1rem;
    --font-size-text: 1rem;
    --font-size-aboutSubtitle: 1.2rem;
    --font-size-donationSubtitle: 1.8rem;
    --font-size-text2: 1.5rem;
  }

  #Header .box-1 .logo img {
    width: 2rem;
  }

  #Header .box-2 .image {
    width: 12rem;
    height: 24rem;
  }

  #About .box .image {
    width: 16rem;
    height: 16rem;
  }

  .dropbtn {
    font-size: 0.8rem;
    width: 9rem;
    height: 1.9rem;
  }
}

@media (min-width: 600px) {
  #Header .box-2 .image {
    width: 17rem;
    height: 25rem;
  }

  #About .box .image {
    width: 19rem;
    height: 19rem;
  }

  .dropbtn {
    font-size: 1rem;
    width: 11rem;
    height: 2.2rem;
  }
}

@media (min-width: 670px) {
  :root {
    --font-size-logo: 1.2rem;
    --font-size-title: 2.1rem;
    --font-size-text: 1.3rem;
    --font-size-aboutSubtitle: 1.3rem;
    --font-size-donationSubtitle: 1.9rem;
    --font-size-text2: 1.6rem;
  }

  #Header .box-2 .image {
    width: 19rem;
    height: 26rem;
  }

  #About .box .image {
    width: 24rem;
    height: 24rem;
  }

  .dropbtn {
    font-size: 1rem;
    width: 13rem;
    height: 2.4rem;
  }
}

@media (min-width: 780px) {
  :root {
    --font-size-title: 2.1rem;
    --font-size-text: 1.3rem;
    --font-size-aboutSubtitle: 1.3rem;
    --font-size-donationSubtitle: 1.9rem;
    --font-size-text2: 1.6rem;
  }

  #Header .box-2 .image {
    width: 22rem;
    height: 28rem;
  }

  #About .box .image {
    width: 26rem;
    height: 26rem;
  }

  #Donation .value-text p {
    font-size: 1.3rem;
  }
}

@media (min-width: 870px) {
  :root {
    --font-size-title: 2.1rem;
    --font-size-text: 1.3rem;
    --font-size-aboutSubtitle: 1.3rem;
    --font-size-donationSubtitle: 1.9rem;
    --font-size-text2: 1.6rem;
  }

  #Header .box-2 .image {
    width: 24rem;
    height: 28rem;
  }

  #About .box .image {
    width: 27rem;
    height: 27rem;
  }

  .infoButtonsSelectors .dropdown .dropbtn {
    width: 15rem;
  }

  #Donation .value-text p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-title: 2.1rem;
    --font-size-text: 1.3rem;
    --font-size-aboutSubtitle: 1.3rem;
    --font-size-donationSubtitle: 1.9rem;
    --font-size-text2: 1.6rem;
  }

  #Header .box-1 .title-message p {
    padding: 0 5rem;
  }

  #Header .box-2 .image {
    width: 30rem;
    height: 34rem;
  }

  #About .box .image {
    width: 30rem;
    height: 30rem;
  }

  .infoButtonsSelectors {
  }

  .infoButtonsSelectors .dropdown .dropbtn {
    width: 20rem;
    height: 3.5rem;
    font-size: 1.2rem;
  }

  #Donation .value-text p {
    font-size: 1.3rem;
  }
}
