* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background-color: #fafcff;
  --primary-color: #447afb;
  --secondary-color: #284cf3;

  --logo-fontsize: 1.3rem;
  --title-fontsize: 3rem;
  --subtitle-fontisize: 2.3rem;
  --text-fontsize: 1.2rem;
}

body {
  background-color: var(--background-color);
}

#Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: none;
  z-index: 100;

  position: fixed;
  top: 0;

  width: 100%;
  height: 3.5rem;
}

#Header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  width: 2rem;
}

#Header .logo p {
  font-size: var(--logo-fontsize);
  font-family: "Chau Philomene One", serif;
  letter-spacing: 0.5px;
}

#Header .logo p span {
  color: var(--secondary-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  font-family: "Open Sans", serif;
}

#About {
  display: flex;
  flex-direction: column;
}
#Content-main .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#Content-main .maincontent-image img {
  width: 19rem;
}

#Content-main,
#About-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 1rem;
}

#Content-main h1 {
  font-family: "Open Sans", serif;
  font-size: var(--title-fontsize);
  font-weight: 800;
  width: 15rem;
  letter-spacing: 2px;
}

#Content-main p,
#About-main p {
  color: #787672;
  font-size: var(--text-fontsize);
  font-weight: 500;
  padding: 0 1rem;

  margin-top: 1.5rem;
}

#Content-main p span,
#About-main p span {
  color: #303030;
  font-weight: 800;
}

#About-main h1 {
  font-family: "Open Sans", serif;
  font-size: var(--subtitle-fontisize);
  font-weight: 800;
  margin-top: 2rem;
  width: 15rem;
}

.infoButtonsSelectors {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
}

.infoButtonsSelectors .dropbtn {
  background: none;
  width: 14rem;
  height: 3.5rem;
  font-size: 1.3rem;
  font-family: "Open Sans", serif;
  font-weight: 600;

  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  border-radius: 25rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: white;
  max-height: 490px;
  width: 280px;

  padding: 0.5rem 2rem 0rem 2rem;
  text-align: start;
  border-radius: 1rem;
  border: none;
  margin-left: -1.8rem;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content ul {
  font-family: "Open Sans", serif;
  color: #545353;
  font-weight: 500;
  font-size: 0.9rem;

  text-decoration: none;
  display: block;
}

.dropdown-content ul li {
  margin-bottom: 1rem;
}

.dropdown-content strong {
  color: black;
}

.dropdown.ativo .dropdown-content {
  display: block;
}

#Donation {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3rem;
}

#Donation .subtitle h3 {
  font-family: "Open Sans", serif;
  font-size: var(--subtitle-fontisize);
  font-weight: 800;
}

#Donation .list-message {
  font-family: "Open Sans", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Donation ul {
  width: 20rem;
  padding: 0 2rem;
  margin: 2rem 0 2rem 0;
}

#Donation ul li {
  list-style: outside;
  margin-top: 1rem;
}

#Donation ul li p {
  font-size: 1rem;
  font-family: "Open Sans", serif;
  font-weight: 500;
  color: #787672;
}

#Donation ul li p span {
  color: #303030;
  font-weight: 700;
}

#Donation .text-message-2 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #c4d0f7;

  width: 90%;
  border-radius: 1.4rem;
}

#Donation .text-message-2 p {
  font-size: var(--text-fontsize);
  font-family: "Open Sans", serif;
  font-weight: 600;
  letter-spacing: 0.1rem;

  padding: 1rem;
}

#Donation .value-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

#Donation .value-text p {
  font-family: "Open Sans", serif;
  letter-spacing: 0.1rem;
  color: #575655;
  font-weight: 700;
}

#Donation .value-text img {
  width: 2rem;
}

/* botões de doação */

.donationButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.donationButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 7rem;
  height: 6rem;

  border-radius: 1.4rem;

  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);

  font-size: 1.2rem;
  font-family: "Open Sans", serif;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

.donationButtonCustom {
  width: 15rem;
  height: 6rem;
  border-radius: 1.4rem;
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1.2rem;
  font-family: "Open Sans", serif;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

.donationButton-open {
  width: 14rem;
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: bold;

  background: var(--primary-color);
  color: white;
  margin: 4rem 0 4rem 0;

  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  animation: pulsate-fwd 2s ease-in-out infinite both;
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0px 0.2px 5px 1px rgba(0, 0, 0, 0.6);
  }
  100% {
    transform: scale(1);
  }
}

.overlay-donationbuttons {
  z-index: 850;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: var(--background-color);

  display: none;
  flex-direction: column;
  align-items: center;
}

.donationButton:hover,
.dropbtn:hover,
.donationButton-open:hover,
.donationButtonCustom:hover {
  opacity: 0.9;
  box-shadow: 0px 0.2px 5px 1px rgba(0, 0, 0, 0.6);
}

/* ---------------------------------=--------------- */

/* ---  Overlay Pix --- */

.overlay {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 900;
}

.overlayContent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlayContent .box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", serif;
}

.overlayContent .box p {
  font-weight: 700;
}

.closeButton {
  align-self: flex-end;
  background: none;
  border: none;
}

.overlayContent .closeButton img {
  width: 4.2rem;
}

.closeButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.overlayContent .copiarButton,
.overlayContent .box button {
  border: none;
  border-radius: 5rem;
  padding: 1rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.5rem;
  gap: 0.5rem;

  color: var(--cor-texto-primario);
}

.overlayContent .box .copytextmessage {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  font-family: var(--font-glacialRegular);
  color: var(--color-variant);
}

.overlayContent .box .prooftext {
  width: 22rem;
  color: black;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-glacialRegular);
  width: 90%;
  margin-top: 2rem;
}

.overlayContent .box .prooftext span {
  color: #545353;
  font-weight: 600;
}

.overlayContent .copiarButton {
  font-size: 1.9rem;
  font-weight: 600;
}

.overlayContent .box button {
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.overlayContent .box button:hover {
  opacity: 0.8;
  background: var(--secondary-color);
  color: white;
}

.overlayContent .box button img {
  width: 2.4rem;
}

.overlayContent .copiarButton:hover {
  opacity: 0.8;
  cursor: pointer;
}
.overlayContent .box .value {
  color: var(--cor-texto-secundario);
}

.overlayContent .box .qrCodebox {
  margin-top: 0.625rem;
  align-self: center;
  padding: 1.5rem;
  border-radius: 1rem;
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(145, 145, 145, 1);
}

.overlayContent .box .qrCodebox img {
  width: 12rem;
}

.hidden {
  display: none;
}

#Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
}

.line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.581);
  margin: 2rem 0 0.5rem;
}

#Footer .box {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}

#Footer .box-content {
  display: flex;
  gap: 4rem;
  margin-top: 1rem;
}

#Footer .box-content ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

#Footer .box-content ul li a {
  font-family: "Open Sans", serif;
  color: rgb(255, 255, 255);
}

#Footer .box-content ul li a:hover {
  color: #daeeff;
}

#Footer .copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Open Sans", serif;
  font-weight: 500;

  font-size: 0.7rem;
  color: white;
}

@media (min-width: 560px) {
  #Content-main .maincontent-image img {
    width: 23rem;
  }

  #Content-main p,
  #About-main p {
    max-width: 70%;
  }

  #Donation ul {
    width: 25rem;
  }

  #Donation ul li p {
    font-size: 1.2rem;
  }

  .donationButtons {
    gap: 1.5rem;
  }

  .donationButton {
    width: 8rem;
    height: 7rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 870px) {
  :root {
    --logo-fontsize: 1.5rem;
    --title-fontsize: 3.5rem;
    --subtitle-fontisize: 2.8rem;
    --text-fontsize: 1.4rem;
  }

  .logo img {
    width: 2.5rem;
  }

  #Content-main .maincontent-image img {
    width: 25rem;
  }

  #Content-main h1 {
    width: 20rem;
  }

  #Content-main p,
  #About-main p {
    max-width: 70%;
  }

  .infoButtonsSelectors .dropdown .dropbtn {
    width: 15rem;
  }

  .dropdown-content {
    max-height: 430px;
    width: 340px;
    margin-left: -3.2rem;
  }

  #Donation .list-message {
    margin-left: 6rem;
  }

  .dropdown-content p {
    font-size: 1rem;
  }

  #Donation ul {
    width: 40rem;
  }

  #Donation .value-text p {
    font-size: 1.3rem;
  }
  #Donation .value-text img {
    width: 3rem;
  }

  #Donation ul li p {
    font-size: 1.4rem;
  }
  .donationButton-open {
    width: 16rem;
    height: 4rem;
    font-size: 1.8rem;
  }

  .donationButtons {
    gap: 2rem;
  }

  .donationButton {
    width: 9rem;
    height: 8rem;
    font-size: 1.4rem;
  }

  #Footer .box-content ul li a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --logo-fontsize: 1.5rem;
    --title-fontsize: 3.5rem;
    --subtitle-fontisize: 3rem;
    --text-fontsize: 1.5rem;
  }

  #Content-main .box {
    display: flex;
    gap: 3rem;
    margin: 3rem 0 3rem 0;
  }

  #Content-main .maincontent-image img {
    width: 35rem;
  }

  .infoButtonsSelectors .dropdown .dropbtn {
    width: 20rem;
    height: 3.5rem;
    font-size: 1.2rem;
  }

  .dropdown-content {
    max-height: 430px;
    width: 400px;
    margin-left: -2.7rem;
  }

  .dropdown-content p {
    font-size: 1.2rem;
  }

  #Donation ul {
    width: 40rem;
  }

  #Donation .value-text p {
    font-size: 1.5rem;
  }

  #Donation .text-message-2 p {
    border-radius: 1.2rem;
  }
}

@keyframes ScrollReveal2 {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    color: white;
  }
}
